.header {
    background-color: #008069 !important;
    color: white !important;
}

.body {
    background-color: #f8f4f4 !important;
    width: 100% !important;
}



.underlined {
    border-bottom: solid #667781 2px !important;
}

.input {
    width: 100%
}

.input:focus {
    outline: none !important;
}


.profile {
    visibility: hidden;
    color: white !important;
    width: 200px !important;
    height: 200px !important;
    z-index: 1 !important;
    background-color: rgba(0, 128, 105, .25) !important;
    border-radius: 50% !important
}

.hovered{
    visibility: visible;
}

.font-size {
    cursor: pointer !important;
    font-size: .7rem !important
}

.hidden-file {
    display: none !important
}

.bg-color {
    background-color: #ffffff !important
}

#placeholder-person {
    height: 100%;
    width: 100%;
    background-color: #bfc2c6;
    color: white;
    z-index: 0;
    border-radius: 50%
}